.category-image {
    width: 100px;
}

.product-image {
    width: 200px;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sidebar[data-color="purple"] li.active>a {
    background-color: brown;
}
a.dropdown-item:hover {
    background-color: brown;
}
a.dropdown-item:active {
    background-color: brown;
}
.btn-primary {
    background-color: brown !important;
}
.btn-danger {
    background-color: grey !important;
    color: black !important;
    border-color: dimgrey !important;
}
.a:hover {
    background-color: brown;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
    background-color: brown !important;
}